<%- include("./partials/header.ejs")%>
<div class="container">
    <h1>BitCoin Price App</h1>
    <form action="/quote" method="get">
        <input type="radio" name="currency" id="USD" value="USD">
        <label for="USD">USD</label>
        <input type="radio" name="currency" id="GBP" value="GBP">
        <label for="GBP">GBP</label>
        <input type="radio" name="currency" id="EUR" value="EUR">
        <label for="EUR">EUR</label>
        <br>
        <button class="btn btn-lg btn-primary border border-white" type="submit">Get Price</button>
    </form>

    <%# Here I check the value of the currency variable.  If the query is USD then the value of that object is shown, same for GBP and EUR.    %>
    <div class="quotes">
        <h1>This is the current price:</h1>
        <h1>
            <%if (currency=="USD"){%>
            $<%=USD.rate%>
            <%} else if (currency=="GBP"){%>
            £<%=GBP.rate%>
            <%} else{%>
            €<%=EUR.rate%>
            <%};%>
        </h1>
    </div>

</div>


<%- include("./partials/footer.ejs")%>